{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container py-3">
    <section class="row g-3">
    {% for article in articles %}
      <article class="col-12 col-md-6 col-lg-3">
        <div class="card shadow-sm">
          <img src="{{ asset("uploads/" ~ article.picture) }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a></h5>
            <span>{{ article.publicationDate|date('d/m/Y') }}</span>
          </div>
        </div>
      </article>
    {% endfor %}
    </section>
  </div>
{% endblock %}