{% extends "base.html.twig" %}

{% block title %}{{ article.title }} | {{ parent() }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ article.title }}</h2>
        <span>{{ article.publicationDate|date('d/m/Y') }}</span>
        <div class="image-container">
          <img src="{{ asset('uploads/' ~ article.picture) }}" class="img-fluid">
        </div>
      <span class="categories">{% for category in article.categories %} {{ category.label }}{{ loop.last ? '' : ',' }} {% endfor %}</span>
      </div>
    </div>
      <p>{{ article.content }}</p>
    </div>
  </article>
{% endblock %}

